<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lgout?</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<h1>
    <div class = "container-fluid bg-success text-white rounded">
        Logout
    </div>
</h1>
<div class = "container-lg">
  <form method="post">
    <br>
    <div class = "row">
    Are you sure you want to log out, {{USER.USER_NAME}}?
    </div>
    <br>
    <p class = "row">
    <input type = 'submit' value = 'Yes'>
    </p>
</form>
<br><br><br><br><br>
</div>
<div class = "container-fluid bg-warning">
<a href = {{url_for('profile', USER_ID = USER.USER_ID)}}> On second thoughts, I'd rather go back to my profile
</a>
</div>
</body>
</html>