<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
  <h1>
      <div class = "container-fluid bg-success text-white rounded">
        We are unsure what exactly, but something strange and unexpected  happened.
      </div>
  </h1>
  <p class = "container">
  <br><br>
Click on the link below to go to your profile, we sincerely apologise for the inconvenience we have caused you.<br>
  <br>
  </p>
 <p class = "container-fluid bg-warning">
  <a href = {{url_for('profile', USER_ID = USER.USER_ID)}}> Go to profile </a>
 </p>
</body>
</html>