<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <style>
        .SCALED_IMG {
            width: 250px;
            height: 250px;
            object-fit:scale;
            }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<h1>
    <div class = "container-fluid bg-success text-white rounded">
    Welcome to this post written by <a href = {{url_for('profile_viewed', USER_ID = USER.USER_ID, VIEWED_ID = VIEWED[0].USER_ID)}}>{{VIEWED[0].USER_NAME}}</a>
    </div>
</h1>
<div class = "container">
    <div class = "row">
    <h2>{{POST.POST_TITLE}}</h2>
    </div>
<div class = "row bf-info">
    {{POST.POST_CONTENT|safe}}
</div>
    <img class = "SCALED_IMG" src = {{url_for('static',filename='POST_IMAGE%d.png' %POST.POST_ID)}}>
<div class = "row">
    <div class = "col"> Likes {{POST.POST_LIKES}}</div>
    <div class = "col">Dislikes -{{POST.POST_DISLIKES}}</div>
    </div>
<div class = "row">
    <div class = "col"> <a href = {{url_for('post_like', USER_ID = USER.USER_ID, POST_ID = POST.POST_ID)}}> Like? </a></div>
    <div class = "col"><a href = {{url_for('post_dislike', USER_ID = USER.USER_ID, POST_ID = POST.POST_ID)}}> Dislike? </a></div>
    </div>
</div>

<br>
<div class = "container">
<div class = "row bg-success text-white">
<h2> These are the wonderfully nice comments</h2>
</div>
<a href = {{url_for('add_comment', USER_ID = USER.USER_ID, POST_ID = POST.POST_ID)}} > Want to comment on this post youself?</a>
{% for COMMENT in COMMENTS %}
<div class = "row bg-light">
{{COMMENT.COMMENT_CONTENT}}
</div>
<div class = "row bg-light">
    <div class = "col">
        <em> By {{COMMENT.USER_NAME}}</em> &ensp; &ensp;
    </div>
    {% if USER.USER_NAME == COMMENT.USER_NAME %}
    <div class = "col">
        <a href = {{url_for('delete_comment', USER_ID = USER.USER_ID, POST_ID = POST.POST_ID, COMMENT_ID = COMMENT.COMMENT_ID)}}> Delete your comment?</a>
    </div>
    {% endif %}
</div>
    <br>
{% endfor %}
</div>
<br>
<div class = "container-fluid">
<div class = "row bg-warning">

<div class = "col">
    <a href={{url_for('feed', USER_ID = USER.USER_ID)}}> Go to your feed?</a>
</div>
<div class = "col">
    <a href = {{url_for('change_followers', USER_ID = USER.USER_ID, VIEWED_ID = VIEWED[0].USER_ID)}}>Click to follow/unfollow/block {{VIEWED[0].USER_NAME}} </a>
</div>
<div class = "col">
    <a href = {{url_for('profile', USER_ID = USER.USER_ID)}}> Go to your profile? </a>
</div>
</div>
</div>
</body>
</html>